<nav id="navbar-example2" class="bg-primary" style="height: 40px">
</nav>

<div style="margin-top: -1%;">

  <ul class="nav nav-pills nav-fill">
    <li class="navbar-text">
      <a [routerLink]="['home']" class="nav-link active" data-toggle="pill" href="#home">HOME</a>
    </li>
    <li class="navbar-text">
      <a [routerLink]="['cadastro']" class="nav-link" data-toggle="pill" href="#cadastro">CADASTRO</a>
    </li>
    <li class="navbar-text">
      <a [routerLink]="['view']" class="nav-link" data-toggle="pill" href="#view">VIEWS</a>
    </li>
  </ul>
</div>




<router-outlet></router-outlet>
